body {
    font-family: sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, red , yellow);
}

h1 {
    font-family: 600 3.5em sans-serif;
    color: rgba(0,0,0,0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
    font-family: 900 1em sans-serif;
    color: rgba(0,0,0,0.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

#random {
    margin-top: 2em;
    border-radius: 8px;
    border: 2px solid rgba(167, 0, 0, 0.877);
    transition-duration: 0.5s;
    color: black;
}

#random:hover {
    background-color: #000;
    color: white;
}